In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
num = 1
lista = []
while num <= 10:
    lista.append(num)
    print(num)
    num += 1
print(lista)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
frutas = ['Maçã', 'Banana', 'Uva', 'Pera', 'Laranja']

In [4]:
frutas

['Maçã', 'Banana', 'Uva', 'Pera', 'Laranja']

In [7]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
str1 = 'string 1 '
str2 = 'string 2'
str3 = str1 + str2
print(str3)

string 1 string 2

In [8]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla

(1, 2, 2, 3, 4, 4, 4, 5)

In [9]:
tupla.count(4)

3

In [11]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict = {}

In [12]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [15]:
dict = {'chave1': 1, 'chave2': 2, 'chave3': 3}
dict

{'chave1': 1, 'chave2': 2, 'chave3': 3}

In [17]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict['chave4'] = 4
dict

{'chave1': 1, 'chave2': 2, 'chave3': 3, 'chave4': 4}

In [18]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dict = {'chave1': 1, 'chave2': ['t1', 't2'], 'chave3': 3}
dict

{'chave1': 1, 'chave2': ['t1', 't2'], 'chave3': 3}

In [25]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.
dict = ['chave1', (90, 91), {'c1': 1, 'c2': 2}, 3.14]
dict

['chave1', (90, 91), {'c1': 1, 'c2': 2}, 3.14]

In [26]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'